.outer-wrapper {
    display: grid;
    grid-auto-rows: 2;
    margin-top: 5vh;
    
    // grid-gap: 20px;
    // height: 100%;

    .content-page-wrapper {
        display: grid;
        grid-auto-columns: 50vw 50vw;
        height: 70vh;
        

        .bio-image-wrapper {
            grid-column-end: 1;
            display: flex;
            justify-content: center;
            width: 100%; 
            height: auto;
            .bio-image {
                // margin-top: -7vh;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 0;
                
                padding-right: 0;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                width: 45vw;
                max-height: 70vh;
                
                height: auto;
            }
        }
    
        .about-right-column {
            
            width: 50vw;
            margin-left: 5px;
            padding-left: 5px;
            .content-card {
                // margin-top: -5vh;
                // margin-left: -8vw;
                width: 100%;
                    
                .tab-control-spacer {
                    width: 45vw;
                    .tab-control-wrapper {
                        font-size: 1rem;
                        display: flex;
                        justify-content: space-between;
                        .about-tab {
                            margin: 0px;
                        }
                        .center {
                            margin-right: 5px;
                            margin-left: 5px;
                        }
                    }
                }
                .lower-card-wrapper {
                    width: 100%;
                    margin: 0;
                    .bio-text-wrapper {
                        width: 90%;
                        font-size: 1rem;
                        text-align: left;
                        margin: 0;
                        .text-content {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        }      
    }
    
    .skill-icon-wrapper {
        display: flex;
        flex-wrap: wrap;
        .skill-icon {                  
            .icon {
                height: 16vh;
                width: auto;
            }
            
            p {
                text-align: center;
                margin-top:0.3vh;
                font-family: 'Major Mono Display', monospace;
            }
            
        }

    }
}

@media only screen and (max-width: 700px) {
    .outer-wrapper {
        .content-page-wrapper {
            // grid-auto-rows: 1;
            grid-column-start: 1;
            width: 100vw;
            height: auto;
            
            .bio-image-wrapper {
                // position: fixed;
                width: 100vw;
                height: auto;
                grid-column-start: -1;
            }
            .about-right-column {
                margin-top: 30px;
                // grid-column-start: 1;
                width: 100%;
                margin-left: 33vw;
                .content-card {
                    width: 33vw;
                }
                .lower-card-wrapper {
                    width: 33vw;
                    .bio-text-wrapper {
                        font-size: 10px;
                        text-align: center;
                        .text-content {
                            width: 33vw;
                        }
                    }
                }
            }
            
        }
        // .skill-icon-wrapper {
        //     
        // }
    }
}