
.resume-controls {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    .open-in-new-tab {
        display: flex;
        justify-content: center;
        height: 100%;
        span {
            font-size: 20px;
            margin-top: 9px;
            // padding-bottom: -10px;
            border-bottom: 3px solid transparent;
            
            &:hover {
                border-bottom: 3px solid $teal;
            }
        }
        
    }
    .modal-close-button {
        margin-left: 30px;
        font-size: 36px;
        margin-right: 3px;
        color: grey;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}
    